*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 80px;
    margin: 3px 6px;
}
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    /* color: white;
    display: block; */
    padding: 3px 22px;
    /* border-radius: 20px; */
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: grey;

}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    /* padding:3px 200px; */
    height: 650px;
    align-items: end;
    justify-content: center;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5Nl2h_YGzmIeOrpV2F-nMYAJZAGT5xMQAkA&usqp=CAU') no-repeat center center/cover;
    height: 642px;
    top:110px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home p{
    color:black;
    /* text-align: center; */
    font-size: 4.5rem;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid black;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{ 
    height: 160px;
    margin: auto;
    display: block;
 }
 #services .box p{
    font-family: 'Bree Serif', serif;

} 
/* Contact Section */
#contact{
    position: relative;
   
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
 
 }
 .btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
   
}
